<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IDS Project</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='ids.css') }}">
</head>
<body>
  <header>
    <h1>Intrusion Detection System</h1>
  </header>

  <section class="main">
    <!-- First form -->
    <form id="testForm">
      <label for="additionalInfo"> Enter network data:</label>
      <textarea id="additionalInfo" name="additionalInfo" rows="5" placeholder="Enter IP information..."></textarea>
      <button type="submit">Test</button>
    </form>

    <!-- Processing message -->
    <p id="processingMessage">Loading the Dataset...</p>

    <!-- Second form -->
    <form id="inputForm" method="post" action="/predict">
      <label for="inputData">Enter IP information:</label>
      <textarea id="inputData" name="inputData" rows="10" placeholder="Enter space-separated float data for intrusion detection..."></textarea>
      <button type="submit">Submit</button>
    </form>

    <!-- Result output -->
    <div id="outputResult">
      <h2>Prediction Result</h2>
      <p id="result"></p>
    </div>
  </section>

  <footer>
    <p>Made by Prajwal</p>
  </footer>

  <script>
    
    // Add event listener to the "Test" form
    document.getElementById('testForm').addEventListener('submit', function(event) {
      event.preventDefault(); // Prevents form from submitting
      // Show the "Data is processing" message
      document.getElementById('processingMessage').style.display = 'block';

      // Simulate processing delay
      setTimeout(function() {
        // Hide the processing message after 3 seconds (you can adjust this)
        document.getElementById('processingMessage').style.display = 'none';
        // You can also add further actions here (like sending form data to the server)
      }, 3000);
    });
  </script>
</body>
</html>
